---
---

@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  z-index: 1;
}

html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: Open Sans;
}

h {
  @for $i from 1 to 8 {
    &#{$i} {
      font-family: Macondo;
    }
  }
}

html,
body {
  min-height: 100vh;
}

body {
  display: block;

  main {
    margin: 1em 2em;
    max-width: 100ch;

    :not(last-child) {
      margin-bottom: 0.5em;
    }
  }
}

button {
  --button-color: #00c0c0;
  --button-darken: 60%;

  position: relative;
  font-size: 16px;
  outline: none;
  padding: 0.5em 0.75em;
  font-family: Open Sans;
  border: none;

  &:hover,
  &:focus,
  &:focus-visible {
    color: white;

    &::before {
      filter: brightness(var(--button-darken));
    }
  }

  &:active::before {
    filter: brightness(calc(var(--button-darken) - 15%));
  }

  &::before {
    content: "";
    border-radius: 4px;
    position: absolute;
    inset: 0 0 0 0;
    background: var(--button-color);
    z-index: -1;
  }
}
