---
layout: html
---

<main id="main">
  <h1>Inicio</h1>

  <p>Te doy la bienvenida a <strong>{{ site.title }}</strong></p>

  <p>Aquí puedes ver mis posts</p>

  {% for post in site.posts %}
    <article>
      <h2>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
      </h2>
    </article>
  {% endfor %}

  <div>
    {% raw %}
      <p>{{ count }}</p>
      <button @click="sum">Sum</button>
    {% endraw %}
  </div>
</main>
