<!DOCTYPE html>
<html lang="es_MX">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ page.title }}</title>
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" />
    <script type="module" src="{{ site.baseurl }}/assets/js/main.js"></script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
